html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  margin: 0 0 0 0;
  width: 150px;
  height: 100%;
  background-color: #EFEEE8;
  border-right: 1px solid black;
  border-left: 1px solid black;
  /*border: 2px solid black;#F3F3F3;*/
}

.game {
  margin: 0 0 0 0;
  height: 100%;
  /*border: 1px solid white;*/
}

#root {
  margin: 0 0 0 0;
  height: 100%;
  /*border: 1px solid white;*/
}

.menuSubject {
  margin: 0 0 0 0;
  height: 50px;
  width: 150px;
  background-color: #D0D6C9;
  border-bottom: 1px solid black;
  /*border: 1px solid black;*/
}

.menuSubject:hover {
  background-color: #EBF2E3;
}
